@{
}
<p style="color: white">
    This is just a hobby project to experiment with making things. I am aware there are bugs. I might refactor it later.<br/>
    Tic tac toe is unbeatable due to the computer AI being too good.<br/>
    Snake plays itself. I initally wanted a proper snake that gets larger but decided it's good enough as it is.<br/>
    Sakura is an animation drawn with javascript using html canvas <br/>
    Calculator is just a calculator but missing the number 0. I realized only when it was done and didn't want to reorder everything.<br/>
    Heart changes colors every 5 seconds. The pattern is calculated.
</p>
