@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
    <script src="~/js/sakura.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/sakura.css" asp-append-version="true" />
}
<body>
    <div id="centerCanvasDiv">
        <canvas id="containerCanvas" width="450" height="400"></canvas>
    </div>
</body>