@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section Scripts {
    <script src="~/js/heart.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/heart.css" asp-append-version="true" />
}
<body>
    <div id="centerCanvasDiv">
        <canvas id="containerCanvas" width="400" height="375"></canvas>
    </div>
    <div id="images" style="display: none">
        <img id="black" src="~/img/heart/black.png">
        <img id="blue" src="~/img/heart/blue.png">
        <img id="blue_gray" src="~/img/heart/blue_gray.png">
        <img id="dark_teal" src="~/img/heart/dark_teal.png">
        <img id="gold" src="~/img/heart/gold.png">
        <img id="light_gray" src="~/img/heart/light_gray.png">
        <img id="pink" src="~/img/heart/pink.png">
        <img id="purple" src="~/img/heart/purple.png">
    </div>
</body>